<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440928927861-ap56qoa0jdqtc8s6nvccjbje5jpifh1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440928927861-ap56qoa0jdqtc8s6nvccjbje5jpifh1k</string>
	<key>API_KEY</key>
	<string>AIzaSyDroPZQGlOOskf2pkT_ZZBtoOTRY9sW5pE</string>
	<key>GCM_SENDER_ID</key>
	<string>440928927861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yunusemrehancer.notewithme</string>
	<key>PROJECT_ID</key>
	<string>note-with-me-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>note-with-me-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440928927861:ios:1852db7faba0eee69c383c</string>
</dict>
</plist>